apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: "http://{{ hostvars[groups['prometheus_server'][0]].ansible_host }}:{{ prometheus_port }}"
    isDefault: true
    