global:
  scrape_interval: 15s

scrape_configs:
  - job_name: nodi
    metrics_path: /metrics
    static_configs:
      - targets:
{% for host, port in node_exporter_ports.items() %}
          - "{{ hostvars[host].ansible_host }}:{{ port }}"
{% endfor %}
